# ============================================================
# SRM Souss-Massa - Variables d'environnement
# Version : Partie 1 (Streamlit)
# ============================================================

# ─── Environnement ─────────────────────────────────────────
ENVIRONMENT=development_local
TIMEZONE=Africa/Agadir

# ─── PostgreSQL (v17 déjà installé) ────────────────────────
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=srm_datawarehouse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
# ─── Streamlit ─────────────────────────────────────────────
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=localhost
STREAMLIT_THEME_BASE=light

# ─── Sécurité Session ──────────────────────────────────────
SESSION_TIMEOUT_MINUTES=5





# ─── CHEMINS DES SOURCES BRUTES (Fichiers d'entrée) ───────────
PATH_RAW_PMAC=data/raw/pmac
PATH_RAW_GSTCOM=data/raw/gstcom
PATH_RAW_INDICATEURS_RECLAMATIONS=data/raw/indicateurs_reclamations
PATH_RAW_RENDEMENTS=data/raw/rendements
PATH_RAW_REFERENTIELS=data/raw/referentiels