# ============================================================
# SRM Souss-Massa - Dependances Python
# Version pour Partie 1 : Streamlit uniquement
# ============================================================

# ─── Data Processing ───────────────────────────────────────
pandas==2.1.4
numpy==1.26.3
openpyxl==3.1.2
python-dateutil==2.8.2
pytz==2023.3.post1

# ─── Database ──────────────────────────────────────────────
psycopg2-binary==2.9.9

# ─── Streamlit & Visualisation ─────────────────────────────
streamlit==1.30.0
plotly==5.18.0

# ─── Authentification & Sécurité ───────────────────────────
bcrypt==4.1.2
cryptography==41.0.7

# ─── Utilities ─────────────────────────────────────────────
python-dotenv==1.0.0
pillow==10.2.0




########################################
sqlalchemy>=2.0.0
pyyaml>=6.0
pyarrow>=14.0.0

pymssql>=2.2.0

pyarrow==14.0.2